@import "tailwindcss";
@import "primeicons/primeicons.css";

body{
  font-family: "Inter", sans-serif;
}

@utility container{

  padding-inline: 20px;
  margin-inline: auto;

  @variant sm {
    padding-inline: 20px;
  }
  
  @variant lg {
    padding-inline: 80px;
  }
  
  @variant xl {
    padding-inline: 120px;
  }

}