@import "tailwindcss";
@import "primeicons/primeicons.css";

body{
  font-family: "Inter", sans-serif;
}

.custom-shape-divider-bottom-1756436491 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1756436491 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 44px;
}

.custom-shape-divider-bottom-1756436491 .shape-fill {
    fill: #030712;
}

@utility container{

  padding-inline: 20px;
  margin-inline: auto;

  @variant sm {
    padding-inline: 20px;
  }
  
  @variant lg {
    padding-inline: 80px;
  }
  
  @variant xl {
    padding-inline: 120px;
  }

}